.container {
    border: 2px solid goldenrod;
    border-style: outset;
    border-radius: 3%;
    box-shadow: 6px 6px 32px -8px rgba(0, 0, 0, 0.69);
    display: flex;
    gap: 1rem;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    padding-top: 80px;
  }

h1 {
    display: inline-block;
    width: 100%;
    
}