


@use '../../components/scss/partials/colors';

@mixin button-type($color, $text: #ffffff) {
  background-color: $color;
  color: $text;
  &_outline {
    background-color: transparent;
    border: 1px solid $color;
    color: $color;
    &:hover {
      background-color: $color;
      border: transparent;
      color: $text;
    }
  }
}

.btn {
  border: outset 2px goldenrod;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 0.5em;
  transition: 0.3s ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
}

.round {
  border-radius: 50%;
}

.primary {
  @include button-type(colors.$primary);
}

.secondary {
  @include button-type(colors.$secondary);
}

.danger {
  @include button-type(#8d341e);
}

.warning {
  @include button-type(#dfb77b);
}

.success {
  @include button-type(#1cdb1c);
}

.cancel {
  @include button-type(#b4aeae);
}
