.form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 80%;
    justify-self: center;
    border: 2px solid black;
    padding: 1em;
    margin: 1em;
  }
  
  .field {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    color: black
  }
  
  .error_text {
    color: red;
  }