 * {
    position: relative;
    z-index: 1;
  }


.cart {
    min-height: 100vh;  
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(105, 98, 98, 0.377); 
        z-index: 0;
      }
  }
  
  .cartContent {
    
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    z-index: 4;
  }

